@use '../util/variables' as *;

.about-page {
    padding-top: 2rem;
    text-align: left;
    display: grid;
    justify-content: center;
    align-items: center;

    &__container {
        display: grid;
        gap: 4rem;
        width: 70vw;

        &__project-info {
            display: grid;
            gap: 2rem;
        }

        &__tools-used {
            h2 {
                margin-bottom: 1.2rem;
            }

            ul,
            li {
                margin-block: 1rem;
                padding-left: 0.5rem;
                display: block;
            }
        }

        &__github {
            button {
                background: #323232;
                padding: 1rem 2rem;
                border: none;
                border-radius: 8px;
                background-image: url('@assets/github-logo.svg');
                background-repeat: no-repeat;
                padding-left: 3.5rem;
                background-size: 2rem;
                background-position: 15px center;
                transition: 0.3s ease;

                &:hover {
                    cursor: pointer;
                    opacity: 0.95;
                }

                margin-bottom: 2rem;
            }
        }

        @media (width <=600px) {
            margin-top: 5rem;
        }
    }

}