@use '../util/variables' as *;

.home {
    height: 88%;

    @media (width <=600px) {
        height: 100%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__hero {
        img {
            display: none;
            width: 60px;
            border-radius: 100%;
            margin-bottom: 1rem;

            @media (width <=600px) {
                display: inline-block;
            }
        }

        &__message {
            margin-bottom: 4rem;
            width: 80vw;
        }

        transform: translateY(-1rem);

        @media (width >=600px) {
            transform: translateY(-2rem);
        }
    }
}