@use '../util/variables' as *;

#quote-page {
    height: 88%;

    @media (width <=600px) {
        height: 100%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .quote-container {
        transform: translateY(-2rem);
        width: 80%;

        &__quote {
            margin-bottom: 2rem;
        }

        &__author {
            text-align: center;
        }
    }


    .generate-new-btn {
        position: absolute;
        bottom: 4rem;
        left: 6rem;

        @media (width <=600px) {
            bottom: 5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .share-quote {
        position: absolute;
        bottom: 4rem;
        right: 6rem;

        display: grid;
        justify-items: right;

        .share-btn {
            img {
                opacity: 0.2;
                width: 2.5rem;
                transition: 0.3s ease;

                &:hover {
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }

        @media (width<=600px) {
            position: relative;
            bottom: auto;
            right: auto;
            justify-items: center;

            .share-btn {
                order: 1;
            }

            .share-bar-container {
                position: absolute;
                top: 3rem;
                order: 2;
            }
        }
    }

}