@use '../util/variables' as *;

#quote-page {
    height: 88%;

    @media (width <=600px) {
        height: 100%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .quote-container {
        transform: translateY(-2rem);
        width: 80%;

        &__quote {
            margin-bottom: 2rem;
        }

        &__author {
            text-align: center;
            // transform: translateX(-5%);
        }
    }

    .generate-new-btn {
        position: absolute;
        bottom: 4rem;
        left: 6rem;

        @media (width <=600px) {
            bottom: 5rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}