.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        background: #AEAEAE;
        width: 3rem;
        height: 1.5rem;
        border-radius: 50px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &__button {
            height: 1.2rem;
            width: 1.2rem;
            background: white;
            border-radius: inherit;
            margin-left: 2px;
        }
    }

    @media (width <=600px) {
        transform: scale(1.5);
    }
}