@use "../util/variables" as *;

// light mode
.App#light {
  background: $bg-clr-light;
  transition: all 0.3s ease;

  * {
    color: $txt-clr-light;

    &::before,
    &::after {
      background: $txt-clr-light ;
    }

    button {
      background-color: $card-clr-light;

      &:hover {
        background-color: $card-clr-hover-light;
      }
    }
  }

  .navbar,
  .navbar__mobile {
    transition: all 0.3s ease;
    background-color: $bg-clr-light;
  }

  .auth-card {
    transition: all 0.3s ease;
    background: $card-clr-light;

    button {
      transition: all 0.3s ease;
      background-color: white;
    }
  }

  .quote-page {
    .share-bar {
      background: $card-clr-light;

      img:hover {
        filter: invert(0.2);
      }

      #copied-msg {
        background: $card-clr-dark;

        span {
          color: white;
        }
      }
    }
  }

  .about-page {
    transition: all 0.3s ease;
    background: $bg-clr-light;

    &__container {
      &__github {
        button {
          background-color: #323232;
          color: whitesmoke;
        }
      }
    }

  }
}

// dark mode 
.App#dark {
  transition: all 0.3s ease;
  background: $bg-clr-dark;

  * {
    color: $txt-clr-dark;

    &::before,
    &::after {
      background: $txt-clr-dark ;
    }

    button {
      background-color: $card-clr-dark;

      &:hover {
        background-color: $card-clr-hover-dark;
      }
    }
  }

  .navbar {
    &__hamburger-menu {
      filter: brightness(0) invert(1);
    }

    &,
    &__mobile {
      transition: all 0.3s ease;
      background-color: $bg-clr-dark;
    }
  }

  .auth-card {
    transition: all 0.3s ease;
    background: $card-clr-dark;

    button {
      transition: all 0.3s ease;
      background-color: $card-clr-hover-dark;
    }
  }

  .quote-page {
    .share-bar {
      background: $card-clr-dark;

      img:hover {
        filter: invert(0.8);
      }

      #copied-msg {
        background-color: $card-clr-dark-2;
      }
    }
  }

  .about-page {
    transition: all 0.3s ease;
    background: $bg-clr-dark;
  }
}