  @use '../util/variables' as *;
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

  * {
      font-family: 'Inter', sans-serif;
  }

  header {
      font-size: 1rem;
  }

  .home {
    .hero{
        #welcome-greeting {
            color: $txt-clr-secondary;
        }
    }
  }