// colors 
$bg-clr-light: rgb(245, 245, 245);
$bg-clr-dark: rgb(35, 35, 35);
$txt-clr-light: rgb(35, 35, 35);
$txt-clr-dark: rgb(245, 245, 245);
$txt-clr-secondary: rgb(128, 128, 128);
$card-clr-dark: rgb(30, 30, 30);
$card-clr-dark-2: rgb(22, 22, 22);
$card-clr-hover-dark: rgb(25, 25, 25);
$card-clr-light: rgb(225, 225, 225);
$card-clr-hover-light: rgb(210, 210, 210);